/* Default (Light) Theme */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f9;
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
  background: #4e7e7b;
  color: white;
}

header .head {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

header input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

header #search-type {
  width: 15%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

header button {
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header button:hover {
  background: #555;
}

main {
  padding: 20px;
  min-height: 35vh;
}

.book {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: 20px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.book:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
}

#pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

#pagination button {
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

#pagination button:hover:not(:disabled) {
  background: #333;
}

/* Dark Theme Styles */
body.dark-theme {
  background-color: #121212;
  color: #fff;
}

body.dark-theme header {
  background-color: #333;
}

body.dark-theme header input,
body.dark-theme header #search-type {
  background-color: #222;
  border: 1px solid #444;
  color: #fff;
}

body.dark-theme header button {
  background-color: #444;
  color: #fff;
}

body.dark-theme header button:hover {
  background-color: #555;
}

body.dark-theme .book {
  background-color: #1e1e1e;
  border: 1px solid #444;
}

body.dark-theme .book h3,
body.dark-theme .book p {
  color: #fff;
}

body.dark-theme footer {
  background-color: #333;
}

body.dark-theme #pagination button {
  background-color: #444;
  color: #fff;
}

body.dark-theme #pagination button:disabled {
  background-color: #555;
}

body.dark-theme #pagination button:hover:not(:disabled) {
  background-color: #555;
}

/* Book Image hover effects in dark theme */
body.dark-theme .book:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

#theme-toggle {
  position: fixed;
  right: 20px;
  bottom: 40px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header #search-type {
    width: 40%;
  }
}
